<div class="pure-u-1 pure-u-sm-2-5 pure-u-md-8-24">
	<div class="info-panel" style="margin: 0.5em 2em; margin-left: 4em;">
		<h1>Allen's Cobblestone Deli</h1>
		<p>
			122 Cobblestone Court Drive
			<br />
			Victor, New York 14564
		</p>
		<p>Ph: 585-223-3354</p>
		<p style="font-weight: bold;">You can also visit us on mobile at <a href="http://m.allenscobblestonedeli.com" style="margin-left: -1.5em; margin-right: -1.5em;">m.allenscobblestonedeli.com</a></p>
		<p>Feel Free to call us with your orders prior to pickup or delivery.</p>
		<p>Drop us a note to let us know your thoughts.</p>
	</div>
</div>
<div class="pure-u-1 pure-u-sm-3-5 pure-u-md-16-24" style="text-align: center;">
	<div class="info-panel secondary pure-g">
		<div class="pure-u-1 pure-u-md-13-24">
			<h1>Directions</h1>
			<h2>From the west:</h2>
			<p>
				Merge onto I-490 East. Take Rt. 96 South exit #28.
				<br />
				Turn left onto NY 96 South (Pittsford-Victor Road).
				<br />
				Continue to follow 96 South; Cobblestone Deli will be on your left hand side, across from East View Mall; we are behind Pier I in the Cobblestone Court Plaza.
			</p>
			<br />
			<h2>From the east:</h2>
			<p>
				From I-90 NY State Trwy, take exit # 45 (Rochester).
				<br />
				Take Rt. 96 exit going North.
				<br />
				Stay in your right hand lane; we are in the Cobblestone Court Plaza behind Pier I and across from East View Mall.
			</p>
		</div>
		<iframe class="pure-u-1 pure-u-md-11-24" width="356" height="300" scrolling="no" margin="0" marginwidth="0" marginheight="0" frameborder="0" framespacing="0" hspace="0" vspace="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCNKHMtVlkuzsb6oLI2hbpJNYnq68Uy4Mk&amp;q=122 Cobblestone Court Drive,
Victor, New York 14564"></iframe>
	</div>
</div>
<form style="width: 100%; margin-top: -3em; padding: 1em;>
	<input type="hidden" name="instanceID" value="contactForm0" />
	<div class="pure-u-1 pure-u-md-8-24">
		<label>
			Your Name:
			<br />
			<input type="text" name="name" />
		</label>
		<br />
		<label>
			Your Email:
			<br />
			<input type="email" name="email" />
		</label>
		<br />
		<label>
			Subject:
			<br />
			<input type="subject" name="subject" />
		</label>
		<br />
		<div id="email-status-message"></div>
	</div>
	<div class="pure-u-1 pure-u-md-10-24">
		<label>
			Message:
			<br />
			<textarea name="plainTextMessage"></textarea>
		</label>
		<br />
		<button type="submit">Send</button>
	</div>
	<a href="https://www.facebook.com/AllensCobblestoneDeli" target="_blank" class="pure-u-1 pure-u-md-6-24" style="display: inline-flex; justify-content: right; align-items: center;">
		<span style="text-align: right; padding-right: 0.5em; max-width: 10em; font-size: 0.875em; color: #801b2d; font-weight: bold; text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);">Follow Allen's Cobblestone Deli on Facebook</span>
		<img src="images/facebook_icon.png" style="width: 48px; height: 48px; border-radius: 8px;" />
	</a>
</form>
