<img id="home-slideshow" />
<div class="info-panel">
	<h2>Allen's Cobblestone Deli</h2>
	<p>
		A New York style deli with the flavor and feel of New York City, with the quaintness of an upstate cafe.
	</p>
	<p>
		Eat in or take out, our homemade soups, salads, sandwiches and wraps are made fresh daily with only the best ingredients lovingly created with personal attention to detail.
	</p>
	<p>
		We also provide exceptional corporate and residential catering services. From small orders to large, hot food or cold, we can meet ALL your catering needs.
	</p>
</div>
