<div class="pure-u-1 pure-u-sm-2-5 pure-u-md-6-24">
	<div class="info-panel" style="margin: 0.5em 2em;">
		<h1>Menu</h1>
		<p>Fresh Daily, and Unique!</p>
		<p>You won't find many of our menu items anywhere else.</p>
		<p style="font-style: italic; font-weight: bold;">*Pricing subject to change</p>
	</div>
	<div class="info-panel" style="background-color: transparent;">
		<a href="Allens Cobblestone Menu.pdf" target="_blank">
			<img src="images/logo.png" alt="Allen's Cobblestone Deli logo" style="height: 56px;" />
			<br />
			Menu.pdf
		</a>
		<p>
			Click on logo above to download menu
		</p>
	</div>
</div>
<div class="pure-u-1 pure-u-sm-3-5 pure-u-md-9-24" style="text-align: center;">
	<h2 style="text-transform: uppercase;">
		Deli &amp; Catering Menus
		<br />
		<small>Click on menu for larger view</small>
	</h2>
	<a href="images/menu/menu_p1_catering.jpg" target="_blank">
		<img src="images/menu/menu_p1_catering_thumb.jpg" alt="Catering menu preview" class="menu-preview menu-preview-1" />
	</a>
	<a href="images/menu/menu_p2_deli.jpg" target="_blank">
		<img src="images/menu/menu_p2_deli_thumb.jpg" alt="Deli menu preview" class="menu-preview menu-preview-2" />
	</a>
</div>
<div class="pure-u-1 pure-u-md-9-24">
	<div class="photo-frame" style="background-image: TODO; transform: rotateZ(TODO);">
	</div>
</div>
